################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/FileManager/v16/.suo
/.vs/FX.ClockIn/v16/.suo
/bin/Debug/netcoreapp3.1
/obj
/FileManager.csproj.user
